<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nav.css">
     <link rel="stylesheet" href="sid.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>
    <nav class="navbar"><div>Digital lab
        <ul class="navig">
           <a href="#"><i class="material-icons">manage_accounts</i></a>
           <a href="#"><i class="material-icons">manage_accounts</i></a>
           <a href="#"><i class="material-icons">manage_accounts</i></a>
           <a href="#"><i class="material-icons">manage_accounts</i></a>
           <a href="#"><i class="material-icons">logout</i></a>
        </ul>
   </div> </nav></header> 
    <marquee behavior="scroll" direction="right">notification</marquee>
    <div class="sidebar">
<a href="#"><i class="material-icons">task</i><br>task1 </a><br>
<a href="#"><i class="material-icons">task</i><br>task2 </a><br>
<a href="#"><i class="material-icons">task</i><br>task3 </a><br>
<a href="#"><i class="material-icons">task</i><br>task4 </a><br>
<a href="#"><i class="material-icons">task</i><br>task5 </a><br>
</div> 
</body>
</html>