<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> <link rel="stylesheet" href="style.css">

</head>
<body class=" bo">
    <table border="2" class="dot" >
        <tr>
        <th>SI no</th>
        <th>notification</th>
        <th>date</th>
       

    
    </tr>
    {% for i in a %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.post}}</td>
        <td>{{i.date}}</td>
        
        
        
        
    </tr>
    {%endfor%}
    </table>
</body>
</html>