<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="sid.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body class="admin">
   

 <header  class="navbar">
        <nav><div> Digital Lab Management
            <ul class="mark">
                <a href="#"><i class="material-icons">logout</i></a>
               <a href="#"><i class="material-icons">manage_accounts</i></a>
               
            </ul>
       </div> </nav></header>

<div class="dl">

    <a href="student"><i class="material-icons">groups</i><br>Student</a><br>
    <a href="faculty"><i class="material-icons">group</i><br>faculty </a><br>
    
    <a href="reply"><i class="material-icons">error</i><br>complaint notifiation </a><br>
    <a href="insert_timetable"><i class="material-icons">schedule</i><br>time table </a><br>
    <a href="postnotification"><i class="material-icons">notifications_active</i><br>notifiation</a><br>
    




 </div>
    
 </body>   
</html>