<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lab</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <form class="fac-container" method="post">
            {%csrf_token%}
    <h1 class="he">
       Reply box
    </h1>
    
    <label>
        reply:
    </label><textarea name="reply">

    </textarea><br>
    <input type="submit"value=submit class="btn">
    </form>
    </div>
</body>
</html>