<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <form class="fac-container" method="post">
            {% csrf_token %}
    
    <h1 class="he">
    Notification

    </h1>
    <label>
        post:
    </label>
   <textarea name="post">

    </textarea><br>

        <input type="submit"value="send"class="btn" >

</body>
</html>